@model Feedback.Models.FeedbackModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FeedbackModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customerid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customerid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customername)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customername)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createddate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Customername = Model.Customername }) |
    <a asp-action="list">Back to List</a>
</div>
